*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: white;
    overflow-x:hidden;
}

/**Menu**/
#header{
    position: relative;
    width: 100%;
    
}
.menu{
position:fixed;
top: 0px;
left: 0;
width: 100%;
height: 60px;
background: white;
overflow: hidden;


display: flex;
justify-content: space-between;
align-items: center;
z-index: 9999;
font-family: 'Muli', sans-serif;
}

.menu .lista-menu{
    margin-right: 20px;
}

.menu .lista-menu .lista{
    display: flex;
}
.menu .lista-menu .lista li{
    list-style: none;
}
.menu .lista-menu .lista li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: black;
    border-radius: 24px;
    font-size: 17px;
    transition: 0.3s;
}
.menu .lista-menu .lista li a.forma{
    background: #FCB40F;
    color: black;
}
.menu .lista-menu .lista li a:hover{
    background: #FCB40F;
    color: black; 
}
.btn-menu > .fas{
    display: none;
}

@media only screen and (max-width:900px){
    .btn-menu > .fas{
        display: block;
        position:absolute;
        right: 30px;
        top: 20px;
        font-size: 28px;
        color: black;
        transition: 0.5s;
        cursor: pointer;
    }
    .btn-menu > .fa-times{color: #FCB40F;}
    .btn-menu > .fas:hover{color:#FCB40F;}
    .menu .logo-titulo{margin-left: 30px;}
    .menu .lista-menu{
        position: fixed;
        top:60px;
        left:-100%;
        background:#fff;
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu .lista-menu .lista{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top:4px solid #FCB40F;
    }
    .menu .lista-menu ul li{
        width: 90%;
        border-bottom: 2px solid black;
        display: flex;
        justify-content: center;
    }
    .menu .lista-menu ul li a{
        font-size: 20px;
        text-align: center;
        padding:12px 0px;
    }
    .menu .lista-menu ul li a.active{
        background: none;
        color:#FCB40F;
    }
    .menu .lista-menu ul li a:hover{
        background: none;
        color:#FCB40F;
    }
}

/** Imagen del Menu **/

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../Imagenes/verduras_opt.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .bienvenida{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
  

}
.img-header .bienvenida h1{
    font-size: 50px;
    color: white;
    font-weight: 200;
}

.img-header .bienvenida hr{
    width: 500px;
    height: 2px;
    background: white;
    border: none;
    margin-top: 5px;
}
.img-header .bienvenida p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.img-header .bienvenida .boton1 .boton2{
    width: 170px;
    height: 40px;
    background: #FCB40F;
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    list-style: none;
}
.img-header .bienvenida .boton1 .boton2:hover{
    background: #FDFF71;
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited{
    color: black;
}


@media only screen and (max-width:773px ){
    .img-header .bienvenida h1{font-size: 40px;}
    .img-header .bienvenida > button{width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
    .img-header .bienvenida h1{font-size: 30px;}
    .img-header .bienvenida hr{width: 100px;}
    .img-header .bienvenida p{font-size: 17px;}
    .img-header .bienvenida > button{width: 100px; font-size: 17px;}
}
/**Quienes somos**/
.parte-somos{
    padding: 40px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}
.titulo{
    color: #494948;
    font-size: 31px;
    font-size: normal;
    text-align: center;
    margin-bottom: 10px;
    padding: 60px 0;
    
    text-decoration: underline;
    text-decoration-color: #FF7800;
}

 .parte-somos .cuerpo-somos{
    display: flex;
    justify-content: space-evenly;
}
.img-somos{
    width: 20%;
}
.parte-somos .texto-somos{
    width: 45%;

}
.texto-somos p{
    font-weight: 300;
    text-align: justify;
    font-size: 20px;

}

@media screen and (max-width:900px){
.cuerpo-somos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parte-somos .texto-somos{
    width: 90%;
}

.img-somos{
    width: 90%;
}
}

/**Footer**/
footer{
    background: #494948;
    padding: 60px 0 30px 0;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: rgba(255, 255, 255, 0.8);
}

.cuerpo-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #fcf9f9;
}

.ultimo-footer{
    text-align: center;
    font-family: 'Muli', sans-serif;
}
.ultimo-footer h4{
    color: white;
    border-bottom: 3px solid #FCB40F;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.titulo-final{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: rgb(255, 255, 255);

}

@media screen and (max-width:500px){
    .img-somos{
        margin-bottom: 60px;
        width: 99%;
    }

    .parte-somos .texto-somos{
        width: 95%;
    }

    .cuerpo-footer{
        flex-direction: column;
        border: none;
    }

    .ultimo-footer{
        margin-bottom: 20px;
        text-align: center;
    }


    .ultimo-footer p{
        color: rgb(255, 254, 254);
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }

}


  